<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>项目运行管理</title>
<link rel="shortcut icon" href="{{static}}run.png">
<link href="{{static}}css/index.css" rel="stylesheet">
<link href="{{static}}css/font-awesome.min.css" rel="stylesheet">
<script defer async="true" src="http://base.dinsight.cn/web/js/jquery.min.js"></script>
</head>
<body>
  <table>
    <tr><th>项目</th><th>操作</th></tr>
    <tr pk="1"><td>大数据分析平台</td><td><a class="update"><i class="fa fa-refresh"></i> 更新</a></td></tr>
  </table>
  <dl class="console"></dl>
</body>
<script src="{{static}}js/index.js"></script>
</html>