body,p,ul,ol,h3,h4{margin:0}
html,body{height:100%}
body{font:12px;background:#fff;font-family: microsoft yahei;}
input,textarea,select{font-size:100%;font-family:inherit}
ul,ol{list-style-type:none;padding-left:0}
i{font-style:normal;display:block}
img{border:0;width:100%;height:100%}
a{text-decoration:none}
a{color:#333}
.br50{border-radius:50%}.b0{bottom:0}.bd0{border:0}.bdccc{border:1px solid #ccc}
.bg80{background:#808080}.bgfff{background:#fff}
.cb{clear:both}.cpt,.cul>li{cursor:pointer}
.c80{#808080}.cccc{color:#ccc}.ceee{color:#eee}.cfff{color:#fff},.c333{color:#333}
.dpi{display:inline}.dsn{display:none}
.ensplit{word-wrap:break-word;word-break:break-all}
.fw{font-weight:bold}.fw3{font-weight:300}.fw5{font-weight:500}
.fs1{font-size:1em}.fs1-1{font-size:1.1em}.fs1-15{font-size:1.15em}.fs1-2{font-size:1.2em}.fs1-3{font-size:1.3em}.fs1-5{font-size:1.5em}.fs1-9{font-size:1.9em}.fs2{font-size:2em}
.h,.uh>li{height:100%}.h40{height:40%}.h50{height:50%}.h65{height:65%}.h68{height:68%}.h70{height:70%}.h80{height:80%}.h85{height:85%}.h86{height:86%}.h88{height:88%}.h33{height:33%}.h32{height:32%}.h31{height:31%}.h30{height:30%}.h28{height:28%}.h20{height:20%}.h10{height:10%}.h5{height:5%}.h2{height:2%}
.h20p{height:20px}.h30p{height:30px}.h40p{height:40px}.h50p{height:50px}.h70p{height:70px}
.h110p{height:110px}.h275p{height:275px}.h300p{height:300px}.h400p{height:400px}
.flt{float:left}.frt{float:right}
.long{overflow:hidden;word-break:normal;text-overflow:ellipsis}.ls0-2{letter-spacing:0.2em}
.l2{left:2%}.l5{left:5%}.l10{left:10%}.l15{left:15%}.l20{left:20%}.l22{left:22%}.l26{left:26%}.l25{left:25%}.l27{left:27%}.l30{left:30%}.l39{left:39%}.l40{left:40%}.l41{left:41%}.l42{left:42%}.l60{left:60%}.l32{left:32%}.l50{left:50%}.l62{left:62%}
.lh25p,.ulh25p>li{line-height:25px}.lh30p,.ulh30p>li{line-height:30px}.lh35p,.ulh35p>li{line-height:35px}.lh40p{line-height:40px}.lh60p{line-height:60px}.lh70p{line-height:70px}
.mg0a{margin:0 auto}
.mgl10{margin-left:10%}.mgl35{margin-left:35%}.mgl60{margin-left:60%}
.mgt10p{margin-top:10px}
.ohd{overflow:hidden}
.psa{position:absolute}.psr{position:relative}.psf{position:fixed}
.pdlr3p{padding-left:3px;padding-right:3px}
.pdt240p{padding-top:240px}.pdt150p{padding-top:150px}
.r0{right:0}.r2{right:2%}.r5{right:5%}.r6{right:6%}.r7{right:7%}.r23{right:23%}
.tct{text-align:center}.tlt{text-align:left}.trt{text-align:right}
.ti1{text-indent:1em}
.ti-2{text-indent:-2em}.ti2,.uti2>li{text-indent:2em}.ti3{text-indent:3em}
.t0{top:0}.t-40{top:-40%}.t-4{top:-4%}.t7{top:7%}.t9{top:9%}.t10{top:10%}.t11{top:11%}.t13{top:13%}.t14{top:14%}.t15{top:15%}.t17{top:17%}.t20{top:20%}.t25{top:25%}.t30{top:30%}.t31{top:31%}.t32{top:32%}.t34{top:34%}.t59{top:59%}.t60{top:60%}.t62{top:62%}.t64{top:64%}.t68{top:68%}.t70{top:70%}
.t25p{top:25px}.t275p{top:275px}
.ul>li,.ui>i{float:left}
.w{width:100%}.w10{width:10%}.w12,.uw12>li{width:12%}.w13,.uw13>li{width:13%}.w15{width:15%}.w16{width:16%}.w17{width:17%}.w18{width:18%}.w20,.uw20>li{width:20%}.w22{width:22%}.w25,.uw25>li{width:25%}.w27{width:27%}.w28{width:28%}.w30{width:30%}.w33{width:33%}.w36{width:36%}.w40{width:40%}.w44{width:44%}.w48{width:48%}.w49{width:49%}.w50{width:50%}.w60{width:60%}.w69{width:69%}.w70{width:70%}.w71{width:71%}.w73{width:73%}.w74{width:74%}.w75{width:75%}.w76{width:76%}.w78{width:78%}.w80{width:80%}.w82{width:82%}.w83{width:83%}.w90{width:90%}
.w100p{width:100px}.w110p{width:110px}.w200p{width:200px}.w500p{width:500px}.w1000p{width:1000px}.w1200p{width:1200px}
.zi1{z-index:1}


body{min-width:1300px}
#top{color:#0186d3;}
.topbg{
height:157px;
top:0;
z-index:-1;
background-image: linear-gradient(to top, rgba(150, 193, 236, 0.05), rgba(150, 193, 236, 0.1), rgba(150, 193, 236, 0.15), rgba(150, 193, 236, 0.2));
}
#menu{
	height:46px;
	background-image: linear-gradient(to bottom, rgba(1,134,211, 0.5), rgba(1,134,211, 0.6), rgba(1,134,211, 0.7), rgba(1,134,211, 0.8));
	font-size:0.8em;  
}
#menu>div>ul>li{
width:100px;
position:relative;
line-height:46px;
height:46px;
}
#menu>div>ul>li>a{color:#fff}
#menu>div>ul>.active>a,#menu ul li a:hover{

}
#menu>div>ul>li>ul,#menu>div>ul>li>ul>li>ul{
border-left: 1px solid #e9e9e9;
border-right: 1px solid #e9e9e9;
border-bottom: 2px solid #0186d3;
font-size:14px;
top:46px;
}
#menu>div>ul>li>ul>li,#menu>div>ul>li>ul>li>ul>li{
background:#eef1f7;
line-height:36px;
border-bottom:1px solid #e9e9e9;
}
#menu>div>ul>li>ul>li>ul{
width:100px;
left:100px;
top:0;
}
.foot{
width:100%;
height:52px;
padding-top:6px;
border-top:1px solid #ccc;
background:rgb(180,210,240);
color:#333;
line-height:24px;
font-size:14px;
}
.service>.title{
background:rgba(1,134,211,0.8);
line-height:26px;
}
.service>table{
background:#f1f1f1;
padding:10px 6px;
}
.service>table td a{
margin-top:3px;
}
.service>table td img,.service>table td a{
display:inline-block;
width:77px;
height:22px;
}
#service1{
top:170px;
right:3px;
}
#service2{
top:170px;
left:3px;
}
