.top{
width:80%;
margin:0 auto;
height:40px;
border-bottom:1px solid #ccc;
text-align:center;
}
.top>ul{
float:right;
}
.top>ul>li{
float:left;
width:60px;
height:40px;
line-height:40px;
cursor:pointer;
}
.top>ul>.accountData>ul{
display:none;
position:relative;
top:-2px;
}
.top>ul>.accountData>ul>li{
background:#f5f5f5;
height:20px;
line-height:20px;
color:#000;
}
.top>ul>.gameList>ul{
display:none;
position:relative;
top:-2px;
}
.top>ul>.gameList>ul>li{
background:#f5f5f5;
height:20px;
line-height:20px;
color:#000;
}
.top>ul>li:hover{
color:#4A4AFF;
}
.content{
width:40%;
margin:0 auto;
height:500px;
margin-top:50px;
}