
<div class="content" style="text-align:center;font-size:30px">
在线工具箱
</div>
<!--end content-->
<div id="header">
  <div class="nav">
    <ul class="nav_list">
  		<li class="drop-menu-effect"><a href="/"><span {{lmselected.n1.css1}}>首页</span></a></li>
  		<li class="drop-menu-effect" style="width:120px"><a href="/shoulu/"><span {{lmselected.n2.css1}}>批量收录查询</span></a></li>
  		<li class="drop-menu-effect" style="width:120px"><a href="/phone/"><span {{lmselected.n3.css1}}>电话号码查询</span></a></li>
  		<li class="drop-menu-effect" style="width:120px"><a href="/chart/"><span {{lmselected.n4.css1}}>走势图工具</span></a></li>
  		<li class="drop-menu-effect" style="width:120px"><a href="/typing/"><span {{lmselected.n5.css1}}>打字练习工具</span></a></li>
    </ul>
  </div>
  <!--end nav-->
</div>
<!--end header-->