{% extends 'about/index.html' %}
{% block menu %}
<div class="title ti1">试管费用</div>
<ul>
	<li><a href="/knowledge/">试管知识</a></li>
	<li><a href="/news/">试管新闻</a></li>
	<li class="active"><a href="/cost/">试管费用</a></li>
</ul>
{% endblock %}

{% block cnt %}
<style>

</style>
<h3>试管费用</h3>
<p><b>美国试管婴儿费用</b>
</p><p>费用问题是病人前往美国进行试管婴儿的最大阻碍。美国试管婴儿单轮的费用因人而异，根据患者的病症、用药方案以及治疗计划而定。云荷廷在此为您预估您赴美试管到底需要多少钱。一般倩况下，赴美国使用自卵自精并且自己生的所需花费如下：

</p><p>1. 手术治疗费用
每家医院手术治疗费用一般都不同。有些顶级的医院收费也相应较贵，一轮的周期费用可能达到4-5万美元，而也有性价比比较高的医院，一轮周期可能只需要2万美金。

</p><p>2. 赴美食宿费用以及其他花销
一般情况下，您赴美治疗周期可能需要20-30天，这里我们以30天计算。您的主要花销是在住宿、餐饮、交通以及翻译上，不同的医院所在的州不同，花销也会不同，比如在加州物价水平较高，您在此的花费可能至少需要1.5万到2万美金，而在像是在物价消费水平比较低的州，此花费可能是加州的一半。

</p><p>3. 赴美机票以及签证等费用
赴美机票的费用根据购买的时间、目的地以及航空公司的不同，费用也不尽相同，一般一人次往返的费用在5000-10000人民币不等。签证的费用大约为1000-5000人民币/人次。

以上就是您赴美使用自卵自精并且自己怀的费用。如果您对费用有疑惑或是有其他的需求可以电话联系我们，云荷廷很乐意问您解答疑惑。云荷廷作为全美试管婴儿活产率排名前10的10家医院在华唯一直营咨询中心，分析了全美近500家辅助生殖机构中的行业内部排行、专业度、信誉度、学术地位、客户好评度等指数的经验自信的对您说：我们旗下的医院一定是您最好的选择！


</p><p><b>泰国试管婴儿费用</b>
</p><p>泰国试管婴儿费用相对较低，试管婴儿具体费用是由患者的自身情况决定的。一般倩况下，赴泰国所需花费如下：

</p><p>1. 手术治疗费用
每家医院手术治疗费用会略有差异，大概费用基本差不多，一般在人民币8-10万左右，具体因人而异。
</p><p>2. 赴泰食宿费用以及其他花销
一般情况下，您赴泰治疗周期可能需要20-30天，这里我们以30天计算。您的主要花销是在住宿、餐饮、交通以及翻译上，您在此的花费在人民币5-7万左右。

</p><p>3. 赴泰机票以及签证等费用
赴泰机票的费用根据购买的时间、目的地以及航空公司的不同，费用也不尽相同，一般一人次往返的费用在3000-8000人民币不等。签证的费用大约为300-1000人民币/人次。
</p>


{% endblock %}