<chart>
    <data>
        <indexAxis name="日期">
            <labels>
                {{datelist1}},{{datelist2}},{{datelist3}},{{datelist4}},{{datelist5}}
            </labels>
        </indexAxis>
        <valueAxis name="{{name}}" unit="{{unit}}"></valueAxis>
        <dataSets>
            <set name="{{kind}}">
                <values>
				{{datalist1}},{{datalist2}},{{datalist3}},{{datalist4}},{{datalist5}}
                </values>
            </set>
			<set name="{{kind2}}">
                <values>
				{{datalist21}},{{datalist22}},{{datalist23}},{{datalist24}},{{datalist25}}
                </values>
            </set>
        </dataSets>
    </data>
</chart>