<div class="bottomdiv">
	<div class="btn-top">Copyright © 2013 Bangpakok 9 International Hospital. All Rights Reserved</div>
	<div class="btn-btn"><img src="/static/img/ar_sitemap.png" width="35" height="8"><br />sitemap</div>
	<div class="btn-btn-hide">
		<table width="1000" border="0" align="center">
		<tbody>
			<tr>
				<td valign="top">
					<table width="100%" border="0">
					<tbody>
						<tr>
							<td colspan="2"><strong><a href="/temp.php?page=1&amp;lang=EN" style="color:#666">Home</a></strong></td>
						</tr>
					</tbody>
					</table>
				</td>
				<td valign="top">
					<table width="100%" border="0">
					<tbody><tr>
						  <td colspan="2"><strong><a href="/temp.php?page=2&amp;lang=EN" style="color:#666">organization</a><a></a></strong></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=2&amp;lang=EN&amp;sid=971" style="color:#666">About Bangpakok</a></td>
						</tr>
						<tr>
						  <td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
						  <td><a href="/temp.php?page=2&amp;lang=EN&amp;sid=981" style="color:#666">Branches</a></td>
						</tr>
					</tbody>
					</table>
				</td>
				<td valign="top">
					<table width="100%" border="0">
					<tbody>
						<tr>
						  <td colspan="2"><strong><a href="/temp.php?page=3&amp;lang=EN" style="color:#666">Our Services</a><a></a></strong></td>
						</tr>
						<tr>
						  <td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
						  <td><a href="/temp.php?page=3&amp;lang=EN&amp;sid=991" style="color:#666">Medical Services</a></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=3&amp;lang=EN&amp;sid=1001" style="color:#666">Facilities</a></td>
						</tr>
					</tbody>
					</table>
				</td>
				<td valign="top">
					<table width="100%" border="0">
					<tbody>
						<tr>
						  <td colspan="2"><strong><a href="/temp.php?page=4&amp;lang=EN" style="color:#666">Our Doctors</a><a></a></strong></td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td valign="top">
					<table width="100%" border="0">
					<tbody><tr>
							<td colspan="2"><strong><a href="/temp.php?page=5&amp;lang=EN" style="color:#666">Packages &amp; Promotion</a></strong></td>
						  </tr>
											<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=5&amp;lang=EN&amp;sid=1224" style="color:#666">Promotion</a></td>
						  </tr>
					</tbody></table>
				</td>
				<td valign="top">
					<table width="100%" border="0">
					<tbody><tr>
						  <td colspan="2"><strong>
							<a href="/temp.php?page=6&amp;lang=EN" style="color:#666">News &amp; Activities</a><a>                  </a></strong></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=6&amp;lang=EN&amp;sid=1061" style="color:#666">New</a></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=6&amp;lang=EN&amp;sid=1071" style="color:#666">Activites</a></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=6&amp;lang=EN&amp;sid=1081" style="color:#666">Articles</a></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="/temp.php?page=6&amp;lang=EN&amp;sid=1091" style="color:#666">Magazines &amp; TV Shows</a></td>
						</tr>
					</tbody></table>
				</td>
				<td valign="top">
					<table width="100%" border="0">
					<tbody>
						<tr>
							<td colspan="2">
								<strong><a href="/temp.php?page=7&amp;lang=EN" style="color:#666">About us</a><a></a></strong>
							</td>
						</tr>
						<tr>
						  <td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
						  <td><a href="/temp.php?page=7&amp;lang=EN&amp;sid=1131" style="color:#666">VDO Media</a></td>
						</tr>
						<tr>
						  <td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
						  <td><a href="/temp.php?page=7&amp;lang=EN&amp;sid=1141" style="color:#666">Testimonial </a></td>
						</tr>
					</tbody></table>
				</td>
				<td valign="top">
					<table width="100%" border="0">
					<tbody>
						<tr>
							<td colspan="2"><strong><a href="/temp.php?page=8&amp;lang=EN" style="color:#666">Contact us</a><a>                  </a></strong></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="temp.php?page=9&amp;p=jobs&amp;lang=EN" style="color:#666">Recommed</a></td>
						</tr>
						<tr>
							<td width="15" align="right"><img src="images/bullet-list2.gif" width="6" height="6"></td>
							<td><a href="temp.php?page=9&amp;p=feedback&amp;lang=EN" style="color:#666">Join Us</a></td>
						</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
<script src="/static/js/main.js"></script>