<!DOCTYPE>
<html>
<head>
{%include 'head.html'%}
</head>
<body>
{%include 'top.html'%}
<div class="middiv">
	<div class="mid-mid">
		<input type="hidden" id="nowCurrent" value="1">
		<a class="current-left"></a>
		<a class="current-right"></a>
		<div class="mid-mid-content">
			<div class="float-div">
				<div class="mid-cnt">
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000313.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000773.jpg" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/2572.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000312.png"></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/2572.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/2572.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000311.png"></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/2572.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/2572.png" /></div>
				</div>
				<div class="mid-cnt">
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PicA130000314.png" /></div>
				</div>
				<div class="mid-cnt">
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
					<div class="content-div"><img width="300" height="145" src="/static/img/PD0396.png" /></div>
				</div>
				<div class="cb"></div>
			</div>
		</div>
		<div class="mid-mid-button">
			<div class="mid-botton"><a class="current" value="1"></a><a value="2"></a><a value="3"></a></div>
		</div>
	</div>
</div>
{%include 'foot.html'%}
</body>
</html>