<div class="topdiv">
	<div class="top-top">
		<div class="top-top-right">
		<a href="https://www.facebook.com/Bangpakok9inter?fref=tshttp://www.youtube.com/user/bangpakokhospitalgp" target="_blank"><img src="/static/img/facebook_icon.png" width="25" height="25"  border='0'/></a>
		<a href="http://www.youtube.com/user/bangpakokhospitalgp" target="_blank"><img src="/static/img/youtube.png" width="25" height="25"  border='0' /></a>
		<a href="http://www.jointcommissioninternational.org/about/" target="_blank"><img src="/static/img/icon-2.png" width="25" height="25"  border='0' /></a>
		<a href="http://www.ha.or.th" target="_blank"><img src="/static/img/icon-1.png" width="25" height="25"  border='0' /></a>
		</div>
	</div>
	<div class="top-middle">
		<div class="top-middle-left">
			<font color="#10bac1">Hot Line <a href="tel:1745">1745</a></font>
		</div>
		<div class="top-middle-right">
			<input name="button" type="submit" id="button" style="background:url(/static/img/btButton.png); width:79px; height:32px; border:0px;" value=" " />
			<input type="text" name="txt_search" id="txt_search" style=" background:url(/static/img/bgtxt.png) no-repeat; width:219px; height:26px; border:0px; padding-left:10px; padding-top:2px;" />
		</div>
	</div>
	<div class="top-bottom">
			<a href='/'>Home</a> | <a href='/organization/'>organization</a> | <a href='/ourServices/'>Our Services</a> | <a href='/ourDoctors/'>Our Doctors</a> | <a href='/temp.php?page=5&lang=EN'>Packages & Promotion</a> | <a href='/temp.php?page=6&lang=EN'>News & Activities</a> | <a href='/temp.php?page=7&lang=EN'>About us</a> | <a href='/temp.php?page=8&lang=EN'>Contact us</a>              
	</div>
</div>