{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link rel="stylesheet" href="{% static 'css/xhx.css' %}" type="text/css" />{% endblock %}
{% block js %}{% endblock %}
{% block content %}
<img class="w" src="{%static 'img/xhx/cn/1.png'%}" />
<img class="w" src="{%static 'img/xhx/cn/2.png'%}" />
<img class="w" src="{%static 'img/xhx/cn/3.png'%}" />
<img class="w" src="{%static 'img/xhx/cn/4.png'%}" />
<img class="w" src="{%static 'img/xhx/cn/5.png'%}" />
<img class="w" src="{%static 'img/xhx/cn/6.png'%}" />
<img class="w" src="{%static 'img/xhx/cn/7.png'%}" />
<div style="position:relative;bottom:5px;width:100%;text-align:center;color:#666;line-height:30px;">
	备案/许可证编号为：浙ICP备15042458号
</div>
{% endblock %}