{% extends 'service/group.html' %}
{% block cnt %}
<h3>美国试管婴儿行程表</h3>
<table  cellpadding="8" cellspacing="0">
<tr><th>时间</th><th>行程安排</th></tr>
<tr><td>月经第1天</td><td>飞美国（或月经前已到达）</td></tr>
<tr><td>月经第2/3天</td><td>补充身体检查</td></tr>
<tr><td>月经第12天</td><td>安排取卵，先生同天取精。</td></tr>
<tr><td>月经第13-14天</td><td>受精初步报告</td></tr>
<tr><td>月经第15-16天</td><td><p>①孕酮支持</p><p>②最终受精报告（胚胎质量、等级及性别）</p></td></tr>
<tr><td>月经第17天</td><td><p>①ICSI/PGD/CCS技术</p><p>②ICSI/PGD/CCS报告</p><p>③胚胎移植</p></td></tr>
<tr><td>月经第18-19天</td><td>移植后卧床静养</td></tr>
<tr><td>月经第20-25天</td><td>等待验孕</td></tr>
<tr><td>月经第26-35天</td><td>抽血验孕HCG</td></tr>
</table>
<p>整个行程时间：以上为行程的大致情况，因每位客人的情况不一样，日程表也有所不同，实际以个人时间和周期为准，约26-35天。</p>
{% endblock %}