
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打字练习工具_在线工具箱</title>
<meta name="keywords" content="打字,打字练习,打字学习,打字训练,打字工具,打字练习工具,打字学习工具,打字训练工具" />
<meta name="description" content="一款提供给用户使用的打字练习工具" />
<link rel="shortcut icon" href="/imgs/favicon1.ico" />
<link rel="stylesheet" type="text/css" href="/css/base.css" />
<link rel="stylesheet" type="text/css" href="/css/forceplastics.css" />
<script src="/js/jquery-1.7.2.js"></script>
<script>
$(function(){
	$("#queryphone").click(function(){
		var phonenumb=$("#phonenumb").val();
		var phonetype="{{telephone.name}}";
		phonenumb=$.trim(phonenumb);
		//alert(phonenumb)
		if (phonenumb){
			$.ajax({
				type: "GET",
				url: "/phonequery{{telephone.name}}.html",
				data: "phonenumb1="+phonenumb,
				success:function(data){
					$("#queryresult").html(data)
					var jsondata= eval('('+data+')');
					var province=jsondata.province;
					if (province){
			   			if (phonetype=="mobile"){
					   		var city=jsondata.city;
					   		var ntype=jsondata.type;
					   		var areacode=jsondata.areacode;
					   		$("#queryresult").html('<center><table border=2 style="text-align:center"><tr><td style="width:100px">省份</td><td style="width:100px">'+province+'</td></tr><tr><td>城市: </td><td>'+city+'</td></tr><tr><td>号码类型: </td><td>'+ntype+'</td></tr><tr><td>区号: </td><td>'+areacode+'</td></tr></table></center>')
						}else{
					   		var city=jsondata.city;
					   		var ntype=jsondata.type;
					   		var zipcode=jsondata.zipcode;
					   		$("#queryresult").html('<center><table border=2 style="text-align:center"><tr><td style="width:100px">省份</td><td style="width:100px">'+province+'</td></tr><tr><td>城市: </td><td>'+city+'</td></tr><tr><td>邮编: </td><td>'+zipcode+'</td></tr></table></center>')
						}
						}else{
					   		$("#queryresult").html('<center>未找到相关信息,请检查号码是否正确</center>')
						}
				},
				error:function(data){
					alert("错误!青重试.");
				}
			});
		}else{
		alert('请输入内容.')
		}
	})
});
</script>
</head>
<body>
{%include 'head.html'%}

  <div class="layout mod-spm">
  	<div class="mod-ind">
    	<div class="header">
            <h1>
            	<span><a href="" title=""><img src="/imgs/kongbai.jpg" width="1px" /></a></span>
            	<a href="/">首页</a> > <a href="">打字练习工具</a>
            </h1>
        </div>
        <!--end header-->
    	<div class="header" style="padding:10px;text-align:center">
            	<a href="/typing/ch/" {{typingdata.n1}}><span style="font-size:18px;">中文打字联系</span></a>
            	<a href="/typing/en/" {{typingdata.n2}}><span style="font-size:18px">英文打字联系</span></a>
            	<a href="/typing/chen/" {{typingdata.n3}}><span style="font-size:18px">中英文打字联系</span></a>
            	<img src="/imgs/kongbai.jpg" width="90px" height="30px">
        </div>
        <!--end header-->
        <div class="content" style="text-align:center;">

		<P style="color:gray">有不会拼的字? 点击使用 <a href="http://zd.diyifanwen.com/zidian/bs/" style="font-weight:bold" target="_blank">新华在线词典</a> ，可按偏旁部首查字 <img src="/imgs/kongbai.jpg" width="90px" height="5px"></P>
        <br />

		<div style="height:10px">&nbsp;</div>
		<P style="font-size:14px"><img src="/imgs/kongbai.jpg" width="70px" height="5px">微笑着，去唱生活的歌谣，不要埋怨生活给予太多的磨难，不必抱怨生命有太多的 <img src="/imgs/kongbai.jpg" width="166px" height="5px"></P>
		<P><img src="/imgs/kongbai.jpg" width="70px" height="5px"><input type="text" name="number" id="phonenumb" style="width:504px;height:30px"> <span style="color:gray">(一排输入完毕后，会自动换行)</span></P>
		<P style="font-size:14px"><img src="/imgs/kongbai.jpg" width="70px" height="5px">曲折。大海如果失去了巨浪的翻滚，就会失去雄浑；沙漠如果失去了飞沙的狂舞，<img src="/imgs/kongbai.jpg" width="166px" height="5px"></P>
		<P><img src="/imgs/kongbai.jpg" width="70px" height="5px"><input type="text" name="number" id="phonenumb" style="width:504px;height:30px"> <span style="color:gray">(一排输入完毕后，会自动换行)</span></P>
		<P style="font-size:14px"><img src="/imgs/kongbai.jpg" width="70px" height="5px">就会失去壮观。人生如果仅去求得两点一线的顺利，生命也就失去了存在的意义。<img src="/imgs/kongbai.jpg" width="166px" height="5px"></P>
		<P><img src="/imgs/kongbai.jpg" width="70px" height="5px"><input type="text" name="number" id="phonenumb" style="width:504px;height:30px"> <span style="color:gray">(一排输入完毕后，会自动换行)</span></P>

		<div style="height:10px">&nbsp;</div>
		<P>
		<input type="button" id="goingtime" value="时间" style="width:60px;height:30px">: 00:00
		&nbsp;&nbsp;<input type="button" id="speed" value="打字速度" style="width:60px;height:30px">: 10个字/分
		&nbsp;&nbsp;<input type="button" id="accuracy" value="正确率" style="width:60px;height:30px">: 50%
		</P>
		<div style="height:10px">&nbsp;</div> 
		<P>
		<input type="button" id="queryphone" value="交卷" style="width:60px;height:30px">
		</P>
		
		<P>&nbsp;</P>
		<div id="queryresult"></div>
		
<br /><br /><br /><br /><br />
{%include 'button.html'%}
  </div>
  <!--end layout mod-spm-->
</body>
</html>