{% extends 'content.html' %}
{% block menu %}
<div class="tit">关于我们</div>
<dl>
	<dt class="active"><a href="/about/">公司简介</a></dt>
</dl>
{% endblock %}
{% block cnt %}
<h3>关于我们</h3>
<p>
泰魅丽国际医疗是国内专业运作<b>美国、泰国多家顶级医疗机构</b>的试管婴儿中国直营咨询中心，提供世界最前沿的辅助生殖医疗技术，旨在为国内外<b>生殖孕育疾病人员、大龄人员及特殊要求的客人</b>提供最高端，最优质，最贴心的生殖医疗服务。
</p><p>
我们的<b>服务团队</b>由专业医学人员、专业医疗翻译、资深执业律师等人员构成，医学专家将根据您个人的需求私人定制灵活经济的治疗方案，我们提供高效、优质和温馨的全流程协调服务，包括前期咨询、专家会诊、法律咨询、海外陪同、医学翻译、旅行安排等，让您跨越语言障碍、在无忧愉快的氛围中轻松实现家庭梦想。
</p><p>
我们的<b>办公地址</b>位于集行政办公、商业、旅游、居住等功能于一体的杭州新城规划核心区——钱江新城，东临钱塘江，环境优美，交通便利。
</p><p>
<b>我们坚持</b>以人为本、注重医疗关怀，我们坚持诚信、追求卓越，争做您最专业、最值得信赖的医疗咨询解决方案专家。
</p><p>
我们的<b>服务流程</b>：
</p><p>
国内咨询 ——> 建立档案 ——> 初期诊断 ——> 赴美（泰）手续 ——> 预约就诊 ——> 安排赴美（泰 ）
</p>
{% endblock %}