
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{%include 'head.html'%}
</head>
    <body>
        <div class="main-container">
{%include 'top.html'%}
            <div class="main-content container">
                <div class="section home-row row">

                    <div class="home-col col-md-5">
                        <p style="text-align: left;">&nbsp;<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1938.30873057021!2d100.47418119800169!3d13.681009603027057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a2853e14410b%3A0xc74b616db08478cd!2z4LmC4Lij4LiH4Lie4Lii4Liy4Lia4Liy4Lil4Lia4Liy4LiH4Lib4Liw4LiB4Lit4LiBIDkg4Lit4Li04LiZ4LmA4LiV4Lit4Lij4LmM4LmA4LiZ4LiK4Lix4LmI4LiZ4LmB4LiZ4LilIChCYW5ncGFrb2sgOSBJbnRlcm5hdGlvbmFsIEhvc3BpdGFsKQ!5e0!3m2!1sth!2sth!4v1416814462760" width="650" height="400" frameborder="0"></iframe></p>
<p style="text-align: center;"><a href="http://www.bangpakokhospital.com/chn/image/2.jpg"><img src="http://www.bangpakokhospital.com/chn/image/2.jpg" alt="" width="620" height="228" /></a></p>                    </div>

                    <div class="home-col-last col-md-4">
                        <ul class="nav nav-tabs sub-nav" style="margin-top:5px;">
                            <li class="active">
                                <a href="http://bangpakokhospital.com/en/contactus" style="height:39px;"><img src="http://bangpakokhospital.com/en/img/icon-form.png" />Inquiry Form</a>
                            </li>
                        </ul>
                        <form class="contact-form form-horizontal" role="form" enctype="multipart/form-data" method="post" action="http://bangpakokhospital.com/en/web_home/post_inquiry">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label control-label-01 ir ">Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputName" name="inputName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-4 control-label control-label-02 ir ">Email:</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail" name="inputEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTel" class="col-sm-4 control-label control-label-03 ir ">Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputTel" name="inputTel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCountry" class="col-sm-4 control-label control-label-04 ir ">National:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="inputCountry" name="inputCountry">
                                                                                                                            <option value="Thai">Thai</option>
                                                                            </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputServiceCenter" class="col-sm-4 control-label control-label-05 ir " style="line-height:14px;">Inquiry specialty:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="inputServiceCenter" name="inputServiceCenter">                                        
                                        <option value="">Non-specify</option>
                                        <option value=" Check-Up Center"> Check-Up Center</option><option value=" Eye Center"> Eye Center</option><option value="Cancer Center">Cancer Center</option><option value="Dental Center">Dental Center</option><option value="Gastrointestinal & Liver Center">Gastrointestinal & Liver Center</option><option value="Heart Center">Heart Center</option><option value="Orthopedics Center">Orthopedics Center</option><option value="Plastic Surgery Center">Plastic Surgery Center</option><option value="Spa Center">Spa Center</option>                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputQuestion" class="col-sm-4 control-label control-label-06 ir " style="line-height:14px;">Question/<br/>Information:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" id="inputQuestion" name="inputQuestion"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <img id="captcha" src="http://bangpakokhospital.com/en/securimage/securimage_show.php" alt="CAPTCHA Image" width="200" />
                                    Please fill in what you see.                                    <input type="text" class="form-control" name="captcha_code" size="10" maxlength="6" /><a href="#" onclick="document.getElementById('captcha').src = 'http://bangpakokhospital.com/en/securimage/securimage_show.php?' + Math.random(); return false">[ Different Image ]</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary2">submit</button>
                                    <button type="button" class="btn btn-primary2">reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

{%include 'foot.html'%}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms of Use</h4>
              </div>
              <div class="modal-body">
                              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/bootstrap3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/moment.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/bootstrap3/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/selectize/js/standalone/selectize.min.js"></script>        
        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/main.js"></script>

        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            // e.src='//www.google-analytics.com/analytics.js';
            // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            // ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>