<div class="footer container">
	<div class="row">
		<ul class="social-btn list-inline col-md-6" style="width:173px;">
			<li><a href="https://www.facebook.com/Bangpakok9inter?fref=tshttp://www.youtube.com/user/bangpakokhospitalgp" class="btn-facebook"><img src="http://bangpakokhospital.com/en/img/icon-facebook.png" alt=""></a></li>
			<li><a href="http://www.youtube.com/user/bangpakokhospitalgp" class="btn-youtube"><img src="http://bangpakokhospital.com/en/img/icon-youtube.png" alt=""></a></li>
			<li><a href="#" class="btn-twitter"><img src="http://bangpakokhospital.com/en/img/icon-twitter.png" alt=""></a></li>
		</ul>
		<ul class="footer-links list-inline col-md-6 text-right " style="width:827px;">
			<li style="text-align:center; float:left; padding-top:10px;">Copyright © 2014 Bangpakok 9 International Hospital. All Rights Reserved&nbsp;&nbsp;&nbsp;<br/><a href="#" data-toggle="modal" data-target="#myModal">Terms of Use</a></li>
			<li><a href="http://www.jointcommissioninternational.org/about/" class="btn-facebook"><img src="http://bangpakokhospital.com/en/img/jci.png" alt="JCI"></a></li>
			<li><a href="http://www.ha.or.th/" class="btn-facebook"><img src="http://bangpakokhospital.com/en/img/healtcare-accreditation.png" alt="Healtcare Accreditation"></a></li>
			<li><img src="http://bangpakokhospital.com/en/img/qr-code-bangpakokhospital.png" alt="QR Code"></li>
			<li><img src="http://bangpakokhospital.com/en/img/hotline.png" alt="1745"></li>
		</ul>
	</div>
</div>