
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{%include 'head.html'%}
</head>
    <body>
        <div class="main-container">
{%include 'top.html'%}
            <div class="main-content container">
                <div class="section home-row row home-row-promotion">
                    <a href="#" class="promotion-control prev"><img src="http://bangpakokhospital.com/en/img/gtk_media_forward_rtl.png" alt="" width="50"></a>  
                    <ul class="promotion-list">
                    <li class="active"><p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bangpakokhospital.com/en/promotion/view/7" target="_blank"><img src="http://www.bangpakokhospital.com/chn/image/PicA130000313.png" alt="" width="300" height="145" /></a>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<a href="http://bangpakokhospital.com/en/promotion/view/5"><img src="http://www.bangpakokhospital.com/chn/image/PicA130000311.png" alt="" /></a></p>
<p style="text-align: center;">&nbsp;</p></li><li class=""><p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bangpakokhospital.com/en/promotion/view/6" target="_blank"><img src="http://www.bangpakokhospital.com/chn/image/PicA130000312.png" alt="" width="300" height="145" /></a></p></li>                    </ul>
                    <a href="#" class="promotion-control next"><img src="http://bangpakokhospital.com/en/img/gtk_media_forward_ltr.png" alt="" width="50"></a>
                </div>
                <div class="section home-row row">

                    <div class="home-col col-md-5">
                        <ul class="nav nav-tabs sub-nav" style="margin-top:5px;">
                            <li class="active">
                                <a href="#" style="height:39px;"><img src="http://bangpakokhospital.com/en/img/icon-news.png" />Updates</a>
                            </li>
                        </ul>
                        <ul class="page-home news-list list-unstyled" style="margin-top:0px; padding-top:0px;">
                                                        <li class="media col-md-6">
                                <a class="pull-left" href="http://bangpakokhospital.com/en/article/view/11">
                                    <img class="media-object" src="http://bangpakokhospital.com/en/image_upload/ARTICLE-11" alt="">
                                </a>
                                <div class="media-body">
                                                                        <div class="media-date">18/12/2014</div>
                                                                        <h4 class="media-heading"><a href="http://bangpakokhospital.com/en/article/view/11"> Plastic Surgery</a></h4>
                                    <p>Plastic Surgery</p>
                                    <div class="text-right">
                                        <a href="http://bangpakokhospital.com/en/article/view/11" class="btn btn-default btn-xs">more >></a>
                                    </div>
                                </div>
                            </li>
                                                        <li class="media col-md-6">
                                <a class="pull-left" href="http://bangpakokhospital.com/en/article/view/10">
                                    <img class="media-object" src="http://bangpakokhospital.com/en/image_upload/ARTICLE-10" alt="">
                                </a>
                                <div class="media-body">
                                                                        <div class="media-date">18/12/2014</div>
                                                                        <h4 class="media-heading"><a href="http://bangpakokhospital.com/en/article/view/10">Aesthetic & Skin Center</a></h4>
                                    <p>Aesthetic & Skin Center</p>
                                    <div class="text-right">
                                        <a href="http://bangpakokhospital.com/en/article/view/10" class="btn btn-default btn-xs">more >></a>
                                    </div>
                                </div>
                            </li>
                                                        <li class="media col-md-6">
                                <a class="pull-left" href="http://bangpakokhospital.com/en/article/view/9">
                                    <img class="media-object" src="http://bangpakokhospital.com/en/image_upload/ARTICLE-9" alt="">
                                </a>
                                <div class="media-body">
                                                                        <div class="media-date">18/12/2014</div>
                                                                        <h4 class="media-heading"><a href="http://bangpakokhospital.com/en/article/view/9">Anti Aging Clinic</a></h4>
                                    <p>Anti Aging Clinic</p>
                                    <div class="text-right">
                                        <a href="http://bangpakokhospital.com/en/article/view/9" class="btn btn-default btn-xs">more >></a>
                                    </div>
                                </div>
                            </li>
                                                        <li class="media col-md-6">
                                <a class="pull-left" href="http://bangpakokhospital.com/en/service/view/5">
                                    <img class="media-object" src="http://bangpakokhospital.com/en/image_upload/SERVICE-5" alt="">
                                </a>
                                <div class="media-body">
                                                                        <div class="media-date">17/12/2014</div>
                                                                        <h4 class="media-heading"><a href="http://bangpakokhospital.com/en/service/view/5"> Check-Up Center</a></h4>
                                    <p> Check-Up Center</p>
                                    <div class="text-right">
                                        <a href="http://bangpakokhospital.com/en/service/view/5" class="btn btn-default btn-xs">more >></a>
                                    </div>
                                </div>
                            </li>
                                                        <li class="media col-md-6">
                                <a class="pull-left" href="http://bangpakokhospital.com/en/service/view/6">
                                    <img class="media-object" src="http://bangpakokhospital.com/en/image_upload/SERVICE-6" alt="">
                                </a>
                                <div class="media-body">
                                                                        <div class="media-date">17/12/2014</div>
                                                                        <h4 class="media-heading"><a href="http://bangpakokhospital.com/en/service/view/6"> Eye Center</a></h4>
                                    <p>We can quickly and efficiently diagnose and treat all eye conditions within our department. A routine eye exam may detect early eye problems before any visual symptoms occur, which is why we believe it is important to have your eyes examined on a regular basis.</p>
                                    <div class="text-right">
                                        <a href="http://bangpakokhospital.com/en/service/view/6" class="btn btn-default btn-xs">more >></a>
                                    </div>
                                </div>
                            </li>
                                                        <li class="media col-md-6">
                                <a class="pull-left" href="http://bangpakokhospital.com/en/service/view/9">
                                    <img class="media-object" src="http://bangpakokhospital.com/en/image_upload/SERVICE-9" alt="">
                                </a>
                                <div class="media-body">
                                                                        <div class="media-date">17/12/2014</div>
                                                                        <h4 class="media-heading"><a href="http://bangpakokhospital.com/en/service/view/9">Dental Center</a></h4>
                                    <p>There is nothing more rewarding than making that great first impression. In fact, many of us feel that the gateway to one’s personality is their smile. At Bangpakok 9 International Dental Center, we use the latest  technology to give you a beautiful, healthy smile – in a clean, comfortable and homely environment.</p>
                                    <div class="text-right">
                                        <a href="http://bangpakokhospital.com/en/service/view/9" class="btn btn-default btn-xs">more >></a>
                                    </div>
                                </div>
                            </li>
                                                    </ul>
                    </div>

                    <div class="home-col-last col-md-4">
                        <ul class="nav nav-tabs sub-nav" style="margin-top:5px;">
                            <li class="active">
                                <a href="http://bangpakokhospital.com/en/contactus" style="height:39px;"><img src="http://bangpakokhospital.com/en/img/icon-form.png" />Inquiry Form</a>
                            </li>
                        </ul>
                        <form class="contact-form form-horizontal" role="form" enctype="multipart/form-data" method="post" action="http://bangpakokhospital.com/en/web_home/post_inquiry">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label control-label-01 ir ">Name:</label>
                                <div class="col-sm-8" style="display:inline-block;">
                                    <input type="text" class="form-control" id="inputName" name="inputName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-4 control-label control-label-02 ir ">Email:</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail" name="inputEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTel" class="col-sm-4 control-label control-label-03 ir ">Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputTel" name="inputTel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCountry" class="col-sm-4 control-label control-label-04 ir ">National:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="inputCountry" name="inputCountry">
                                                                                                                            <option value="Thai">Thai</option>
                                                                            </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputServiceCenter" class="col-sm-4 control-label control-label-05 ir " style="line-height:14px;">Inquiry specialty:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="inputServiceCenter" name="inputServiceCenter">                                        
                                        <option value="">Non-specify</option>
                                        <option value=" Check-Up Center"> Check-Up Center</option><option value=" Eye Center"> Eye Center</option><option value="Cancer Center">Cancer Center</option><option value="Dental Center">Dental Center</option><option value="Gastrointestinal & Liver Center">Gastrointestinal & Liver Center</option><option value="Heart Center">Heart Center</option><option value="Orthopedics Center">Orthopedics Center</option><option value="Plastic Surgery Center">Plastic Surgery Center</option><option value="Spa Center">Spa Center</option>                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputQuestion" class="col-sm-4 control-label control-label-06 ir " style="line-height:14px;">Question/<br/>Information:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" id="inputQuestion" name="inputQuestion"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <img id="captcha" src="http://bangpakokhospital.com/en/securimage/securimage_show.php" alt="CAPTCHA Image" width="200" />
                                    Please fill in what you see.                                    <input type="text" class="form-control" name="captcha_code" size="10" maxlength="6" /><a href="#" onclick="document.getElementById('captcha').src = 'http://bangpakokhospital.com/en/securimage/securimage_show.php?' + Math.random(); return false">[ Different Image ]</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary2">submit</button>
                                    <button type="button" class="btn btn-primary2">reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    <script type="text/javascript">
        var viewName="home-index";
    </script>   

{%include 'foot.html'%}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms of Use</h4>
              </div>
              <div class="modal-body">
                              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/bootstrap3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/moment.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/bootstrap3/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="http://bangpakokhospital.com/en/selectize/js/standalone/selectize.min.js"></script>        
        <script type="text/javascript" src="http://bangpakokhospital.com/en/js/main.js"></script>

        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            // e.src='//www.google-analytics.com/analytics.js';
            // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            // ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>