            <div class="header container">
                <div class="row">
                    <ul class="site-logo-list list-inline">
                        <li><a href="#" onclick="return false;" class="site-logo site-logo-09 ir" title="Bangpakok Hospital"><img src="http://bangpakokhospital.com/en/img/logo_en.png" width="207" height="82" /></a></li>
                        <li><a href="http://www.bangpakok1.com" class="site-logo site-logo-01 ir" title="ร.พ.บางปะกอก 1"></a></li>
                        <li class="site-logo-separator"></li>
                        <li><a href="http://www.bangpakok3.com" class="site-logo site-logo-03 ir" title="ร.พ.บางปะกอก 3"></a></li>
                        <li class="site-logo-separator"></li>
                        <li><a href="#" onclick="return false;" class="site-logo site-logo-08 ir" title="ร.พ.บางปะกอก 8"></a></li>
                    </ul>
                    <ul class="top-right-logo list-inline text-right">
                        <li><a href="http://www.jointcommissioninternational.org/about/" class="btn-facebook"><img src="http://bangpakokhospital.com/en/img/jci.png" alt="JCI"></a></li>
                        <li><a href="http://www.ha.or.th/" class="btn-facebook"><img src="http://bangpakokhospital.com/en/img/healtcare-accreditation.png" alt="Healtcare Accreditation"></a></li>
                    </ul>
                    <ul class="top-lang list-inline text-right" style="display:none">
                        <li>Language:&nbsp;&nbsp;</li>
                                                <li class=""><a href="http://bangpakokhospital.com/en">English</a></li>                        
                                                <li class="last-lang"><a href="http://bangpakokhospital.com/th">ไทย</a></li>                        
                                            </ul>
                    <div class="search-bar">
                        <form method="get" action="http://google.com/search">
                            <input type="text" name="q" class="form-control search-input" placeholder="Search">
                            <input type="hidden" name="as_sitesearch" value="bangpakokhospital.com">
                            <span class="search-clear"></span>
                        </form>

                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                              <li {%ifequal index 1%}class="active"{%endifequal%}>
                    <a href="/"><img src="http://bangpakokhospital.com/en/img/icon-home.png" />Home</a>
                </li>
                                            <li {%ifequal index 2%}class="active"{%endifequal%}>
                    <a href="/corperate/"><img src="http://bangpakokhospital.com/en/img/icon-corperate.png" />Corperate</a>
                </li>
                                            <li {%ifequal index 3%}class="active"{%endifequal%}>
                    <a href="/service/"><img src="http://bangpakokhospital.com/en/img/icon-doctor.png" />Doctors & Services</a>
                </li>
                                            <li {%ifequal index 4%}class="active"{%endifequal%}>
                    <a href="/promotion/"><img src="http://bangpakokhospital.com/en/img/icon-promotion.png" />Promotions</a>
                </li>
                                            <li {%ifequal index 5%}class="active"{%endifequal%}>
                    <a href="/news/"><img src="http://bangpakokhospital.com/en/img/icon-news.png" />News & Articles</a>
                </li>
                                            <li {%ifequal index 6%}class="active"{%endifequal%}>
                    <a href="/contactus/"><img src="http://bangpakokhospital.com/en/img/icon-contact-us.png" />Contact Us</a>
                </li>
            </ul>