.main{
position:absolute;
top:5%;
left:5%;
right:5%;
bottom:5%;
border:1px solid #ccc;
overflow:hidden;
}
.main>.tank{
width:5%;
height:8.8%;
border:1px solid #ccc;
position:absolute;
background:#aaaaff;
border-radius:5px;
}
.main>.tank>.head{
width:40%;
height:40%;
border:1px solid #ccc;
position:absolute;
left:30%;
top:30%;
background:#ffffb9;
border-radius:5px;
}
.main>.tank>ul{
position:absolute;
width:16%;
height:100%;
border:1px solid #ccc;
}
.main>.tank>.cross{
width:16%;
height:100%;
}
.main>.tank>.perpend{
width:100%;
height:16%;
}
.main>.tank>.lvright{
left:80%;
}
.main>.tank>.lvdown{
top:80%;
}
.main>.tank>ul>li{
background:#ff359a;
border:1px solid #ccc;
}
.main>.tank>.cross>li{
width:100%;
height:8.3%;
}
.main>.tank>.perpend>li{
width:8.3%;
height:100%;
float:left;
}
.main>.tank>.gan{
border:1px solid #ccc;
position:absolute;
background:#96fed1;
}
.main>.tank>.up{
width:10%;
height:60%;
left:45%;
top:-20%;
}
.main>.tank>.down{
width:10%;
height:60%;
left:45%;
top:60%;
}
.main>.tank>.left{
width:60%;
height:10%;
left:-20%;
top:45%;
}
.main>.tank>.right{
width:60%;
height:10%;
left:60%;
top:45%;
}
.bullet{
background:#613030;
position:absolute;
}