html {
  font-size: 100px;
}
body {
  font-size: 0.19rem;
  background: #f2f2f2;
  position: relative;
  font-family: STXihei, "Microsoft YaHei", "微软雅黑", "LiHei Pro", Verdana, Tahoma, "思源黑体 CN ExtraLight", "SourceHanSansCN ExtraLight", "Hiragino Sans GB", Arial, Helvetica, STHeiti, sans-serif;
}
a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}
ul {
  list-style: none;
  padding-left: 0;
}
body,
h1,
h2,
p,
ul,
dl {
  margin: 0;
}
img {
  border: none;
  vertical-align: middle;
}
.cb {
  clear: both;
}
.w {
  width: 100%;
}
.dsn {
  display: none;
}
header {
  position: fixed;
  background: #101317;
  width: 100%;
  z-index: 9;
}
header .logo {
  width: 3.2rem;
  margin-left: 1.49rem;
  float: left;
  border-bottom: 1px solid #222529;
}
header .menu {
  position: absolute;
  right: 1.49rem;
  height: 100%;
  text-align: center;
}
header .menu dt {
  float: left;
  line-height: 0.78rem;
  height: 0.66rem;
  position: relative;
  padding: 0rem 0.4rem;
}
header .menu dt a {
  color: #ffffff;
}
header .menu dt a:hover {
  border-bottom: 1px solid #ffffff;
}
header .menu dt a.jmp {
  padding-bottom: 4px;
}
header .menu dt.active .jmp {
  border-bottom: 1px solid #e73c3c;
}
header .menu dt.active .jmp a {
  color: #e73c3c;
}
header .menu dt .hid {
  display: none;
  position: absolute;
  top: 58px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 26px;
  left: 2px;
  width: 70px;
  background: #272e38;
  font-size: 0.16rem;
  text-align: left;
  padding: 6px 16px;
}
header .menu dt .hid a {
  padding-bottom: 4px;
}
