{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/favicon.ico" />
<title>{{seoTitle}}</title>
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
{% block css %}{% endblock %}
<!--[if IE]>
<script>location.href='http://f.jiaolj.com/htm/ie/index.html?url='+location.href;</script>
<![endif]-->
</head>
<body onbeforeunload="checkLeave()">
<header>
	<div class="logo"><a href="/"><img src="{%static 'img/tab_logo.png'%}"/></a></div>
	<dl class="menu" id="topmenu">
		<dt class="short{%ifequal index 1%} active{%endifequal%}"><a class="jmp" href="/">产品</a>
			<!--<ul class="hid">
				<li><a href="/">黑侠</a></li>
				<li><a href="/xhx/">小黑侠</a></li>
			</ul>-->
		</dt>
		<dt class="long{%ifequal index 3%} active{%endifequal%}"><a class="jmp" href="/about/">关于我们</a></dt>
		<dt class="short"><a class="jmp" style="color:#999">社区</a></dt>
		<br class="cb"/>
	</dl>
	<br class="cb"/>
</header>
{% block content %}
{% endblock %}
<script src="{% static 'js/base.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>